---
layout: page
title: Publications
permalink: /publications.html
pub_types:
- "Conference"
- "Journal"
- "Preprint"
---

{% for type in page.pub_types %}
    {% assign sorted_pubs = site.data.publications | sort: 'Year' | reverse | where: "Type",type %}

    <h2><b>{{ type }}</b></h2>
        <!-- <ul> -->
        {% for pub in sorted_pubs %}
            <!-- <li> -->
                <papertitle>{{ pub.Title }}</papertitle>
                <br>
                {{ pub.Authors }}
                <br>
                <em>{{ pub.Publication}}</em> ({{ pub.Year }})
                {% if pub.Volume != false %}
                    {{ pub.Volume}}{%if pub.Number != false %}({{ pub.Number }}){% endif %}
                {% endif %}
                {% if pub.Link != false %}
                    <br>
                    (<a href={{ pub.Link }}>paper</a>)
                {% endif %}
                {% if pub.Talk != false %}
                    (<a href={{ pub.Talk }}>talk</a>)
                {% endif %}
                {% if pub.Site != false %}
                    (<a href={{ pub.Site }}>site</a>)
                {% endif %}
                <br><br>
            <!-- </li> -->
        {% endfor %}
        <!-- </ul> -->
{% endfor %}